body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3eaabc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    background-color: #0e3250;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav .logo {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav .user-reg {
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

nav a:hover {
    color: #95b6be;
}

nav .fa-user {
    margin-right: 8px;
}

header {
    background-color: #cf8f6d;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

nav img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d28f6c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.1);
}

.gallery {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.gallery-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.gallery-item.active {
    opacity: 1;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    text-align: center;
    padding: 40px 20px;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.section-container {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    vertical-align: top;
    transition: transform 0.3s, box-shadow 0.3s;
}

.section-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.section-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.section-content {
    position: relative;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
}

section p {
    font-size: 1.2em;
    color: #f4f4f4;
}

footer {
    background-color: #0e3250;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px;
  }
  
  .footer-column h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .footer-column p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 8px 0;
    background-color: #111;
    font-size: 14px;
    border-top: 1px solid #333;
  }

